.header {
  width: 940px;
  height: 70px;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_telephone {
  display: flex;
  gap: 5px;
}
.h1 {
  color: #acacac;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.box_logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 940px) {
  .header {
    width: 100%;
  }
}
@media screen and (max-width: 445px) {
  .telephone {
    display: none;
  }
}
